@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7154fc;
    flex-direction:column;
}
.titulo {
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    left: 50%;
    margin-top: 100px;
}
.login-box {
    display: flex;
    flex-wrap:wrap;
    width: 400px;
    padding: 40px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,1);
    border-radius: 10px;
}

    .login-box input {
        padding: 10px 0;
        font-size: 20px;
        color: black;
        outline: none;
        background: transparent;
        font-display: swap;
        text-align:center;
    }

    .login-box label {
        display:inline-block;
        width:100%;
        text-align: center;
    }

    .login-box button {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #000;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        border-radius: 10px;
        border: 2px solid #7154fc;
        letter-spacing: 4px;
        background: none;
        cursor: pointer;
        margin: 7px;
    }

    .login-box button:hover {

        background: #7154fc;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 5px #7154fc, 0 0 25px #7154fc, 0 0 50px #7154fc, 0 0 100px #7154fc;
    }



@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

@media (max-width: 360px) {
    .login-box {
        width: 340px;
    }

    .titulo {
        font-size: 16px;
    }

    .login-box button {
        font-size: 17px;
    }
}
@media screen and (max-width: 800px) and (max-height: 360px) and (orientation: landscape) {
    .login-box {
        width: 600px;
        height: 240px;
        padding: 30px;
        flex-wrap:nowrap;
        background-color: #f5f5f5;
    }

    .titulo {
        font-size: 18px;
        margin-top: 0;
    }

    .login-box button {
        font-size: 16px;
    }
}