@page
@model ProyectoRelampago.Pages.ControlMarcasModel
@{
    ViewData["Title"] = "Control Marcas";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="Marca.UsuarioId" />
                </div>
                <div class="form-group">
                    <label asp-for="Marca.Fecha" class="control-label"></label>
                    <input asp-for="Marca.Fecha" class="form-control" id="FechaEntrada" type="date" readonly />
                    <span asp-validation-for="Marca.Fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Marca.HoraEntrada" class="control-label"></label>
                    <input asp-for="Marca.HoraEntrada" class="form-control" id="HoraEntrada" readonly />
                    <span asp-validation-for="Marca.HoraEntrada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Marcar Entrada" class="btn btn-primary" formaction="ControlMarcas" />
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form method="post" formaction="MarcarSalida">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="Marca.UsuarioId" />
                </div>
                <div class="form-group">
                    <label asp-for="Marca.Fecha" class="control-label">Fecha</label>
                    <input asp-for="Marca.Fecha" class="form-control" id="FechaSalida" type="date" readonly />
                    <span asp-validation-for="Marca.Fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Marca.HoraSalida" class="control-label">Hora de Salida</label>
                    <input asp-for="Marca.HoraSalida" class="form-control" id="HoraSalida" readonly />
                    <span asp-validation-for="Marca.HoraSalida" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Marcar Salida" class="btn btn-secondary" />
                </div>
            </form>
        </div>
    </div>
</body>
